@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/rubik-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/mulish-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-500 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/mulish-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-600 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/mulish-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/mulish-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/mulish-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #555555;
}
header{
    background: #7AC751;
    padding: 15px 0px;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.wrapper{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.login-section{
    display: flex;
}
.separator{
    margin: 0px 20px;
}
.locale{
    padding-right: 20px;
    background: url("../img/arrow-down.png") right center;
    background-repeat: no-repeat;
}
h1.logo{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-left: 40px;
    background: url("../img/logo.png") left center;
    background-repeat: no-repeat;
    margin: 0;
}
.search{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.search-icon{
    display: flex;
}
.search-icon>div{
    width: 24px;
    height: 24px;
    margin-right: 25px;
}
.search-icon>div:last-child{
    margin-right: 0px;
}
.shop{
    background: url("../img/shop.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.shop:before{
    content: attr(data-number);
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    left: calc(50% + 7px);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7AC751;
   text-align: center;
}
.notification{
    background: url("../img/notification.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.user{
    background: url("../img/user.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.search-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 2px solid #7AC751;
}
.search-panel>input{
    border: none;
    border-right: 1.5px solid rgba(227, 227, 227, 0.78);;
    outline: none;
    border-radius: 3px 0px 0px 3px;
    padding: 15px 0px 15px 25px;
}
.search-panel>input:focus{
    font-family: inherit;
    color: inherit;
}
.dropdown{
    color: #555555;
    background: url("../img/arrow-categories.png") right 15px center;
    background-repeat: no-repeat;
    padding-right: 30px;
    padding-left: 10px;
}
.btn{
    background: #7AC751;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn>img{
    padding: 14px 20px;
}
nav{
    background: #F7F8FA;
    margin-top: 25px;
}
.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: url("../img/title-bg.png") left 30px center;
    background-color: #7AC751;
    background-repeat: no-repeat;
    padding: 25px 40px 25px 74px;
    margin-right: 52px;
}
.nav-bar{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-bar-item{
    display: flex;
}
.nav-bar-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    padding: 25px 30px;
}
nav>.wrapper{
    justify-content: flex-start;
}
.info{
    margin: 50px auto;
}
.info__card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card{
    padding-left: 72px;
    display: flex;
    flex-direction: column;
}
.card[data-type='shipping']{
    background: url("../img/free-shipping.png") left center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card[data-type='smart']{
    background: url("../img/smart.png") left center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card[data-type='payment']{
    background: url("../img/wallet.png") left center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card[data-type='support']{
    background: url("../img/support.png") left center;
    background-repeat: no-repeat;
    background-size: contain;
}


.card>h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
}
.card>span{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(81, 81, 81, 0.71);
}
